body {
  font-family: arial, sans-serif;
}

h1 {
  color: #d6cac9;
  font-size: 28px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin:0;
  padding:0;
}
li {
margin: 0;
padding: 0;
list-style: none;
font-weight: 100;
text-transform: capitalize;
}
li:first-letter {
text-transform: capitalize;
}

.weather-app {
  max-width: 600px;
  margin: 30px 0 auto;
  padding: 20px;
  border: solid 3px #d6cac9;
  border-radius: 5px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: #d6cac9;
  font-size:64px;
  line-height: 1;
  font-weight:400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -32px;
}

.weather-forecast {
  color: #d6cac9;
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  color: #805e68;
  font-size:12px;
}

.weather-forecast-temperatures {
  font-size: 18px;

}

.weather-forecast-temperature-max {
  color: #805e68;
}